{% extends 'blog/base.html'%}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <!-- fieldset tag allow to group related elements in a form -->
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are your sure you want delete the post "{{ object.title }}"" ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger mt-2 mb-2" info="submit">Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
                
        </form>
    </div>
{% endblock content %}