{% extends 'blog/base.html'%}
{% block content %}
    
    <div class="alert alert-info">
        Your password has been successfully changed !
    </div>

    <a href="{% url 'login' %}">Sign in here</a>
    
{% endblock content %}