{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <!-- fieldset tag allow to group related elements in a form -->
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Password</legend>
                {{ form|crispy }}
                <button class="btn btn-outline-info mt-2 mb-2" info="submit">Reset Password</button>
            </fieldset>

        </form>
    </div>

{% endblock content %}