{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- fieldset tag allow to group related elements in a form -->
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Infos</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <button class="btn btn-outline-info mt-2 mb-2" info="submit">Update</button>
            </fieldset>

        </form>
    </div>
{% endblock content %}