{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <!-- fieldset tag allow to group related elements in a form -->
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
                <button class="btn btn-outline-info mt-2 mb-2" info="submit">Sign Up</button>
            </fieldset>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an Account ? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>

{% endblock content %}