  <div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="userimage.jpg">
        <div class="media-body">
        <h2 class="account-heading">Username</h2>
        <p class="text-secondary">username@email.com</p>
        </div>
    </div>
    <!-- FORM HERE -->
</div>